<h1>Editing joystick</h1>

<%= render 'form' %>

<%= link_to 'Show', @joystick %> |
<%= link_to 'Back', joysticks_path %>

<script>
// A total hack here, hope it works

function showText(text) {
	console.log(text);
}

function updateGP() {
	var gp = navigator.getGamepads()[0];
	
	if(!gp)
	{
		showText("No Joysticks!");
		return;
	}

	var x=gp.axes[0], y=gp.axes[1];

	showText("<p>"+x+"<br>"+y+"</p>");
	sendGP(x, y);
}

function sendGP(x, y) {
	thisURL = location.href;
	
	postURL = thisURL.replace("/edit", "");
	token = "abracadabra"; //document.forms.elements['authenticity_token'].value;
	
	request = new XMLHttpRequest();
	request.open("PATCH", postURL, true);
	request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
	request.send("commit=Update+Joystick&_method=patch&joystick%5Bx%5D="+x+"&joystick%5By%5D="+y+"&authenticity_token="+token);
}

window.setInterval(updateGP, 100); // do stuff every 100ms

window.addEventListener("gamepadconnected", function(e) {
  var gp = navigator.getGamepads()[0];
  console.log("Gamepad connected at index %d: %s. %d buttons, %d axes.",
  gp.index, gp.id,
  gp.buttons.length, gp.axes.length);
});


</script>